{% extends "studentparent.html" %}
{% block body%}
{% if messages %}
   {% for message in messages %}   
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> 
   {% endfor%}  
{% endif %}
<h2 style="color:navyblue;text-align:center;">Change password</h2>
<form class="form-group" method="post" action="{% url 'studentapp:changepassword'%}">
    {% csrf_token %}
    <table style="width:60%;margin:auto;">
        <tr>
            <td>Enter old Password</td>
            <td><input type="password" name="oldpassword" class="form-control" required/></td>
        </tr>
        <tr>
            <td>Enter New Password</td>
            <td><input type="password" name="newpassword" class="form-control" required/></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="confirmpassword" class="form-control"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success">Change</button>
            </td>
        </tr>
    </table>
</form>

{% endblock body%}