{% extends "studentparent.html" %}
{% block body %}
{% if messages %}
   {% for message in messages %}   
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> 
   {% endfor%}  
{% endif %}
<h2 style="text-align:center;"> Submit your complain or feedback </h2>
<form method="post" class="form-group" action="{% url 'studentapp:response' %}">
    {% csrf_token %}
    <table style="width:70%;margin:0 auto;">
        <tr>
            <td>Select response type</td>
            <td>
                <select name="responsetype" class="form-control">
                    <option selected>--select response type--</option>
                    <option value="feedback">Feedback</option>
                    <option value="complain">Complain</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Enter subject</td>
            <td><input type="text" name="subject" class="form-control"/></td>
        </tr>
        <tr>
            <td>Enter response text</td>
            <td>
                <textarea name="responsetext" class="form-control"></textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success">Submit</button>
            </td>
        </tr>
      
    </table>
</form>

{% endblock body%}