{% extends "parent.html" %}
{% load static%}
{%block main %}

<div class="row m-0 p-0">
  <img src="{% static 'images/download.jpg' %}" style="height:650px;background-attachment:fixed;background-repeat:norepeat;background-color:rgba(0,0,0,0.5)"/>
 <div class="col-sm-6" style="background-color:#1F2020;min-height:600px; ">
    
    <div class="notices px-2" style="min-height:125px;  border-radius:150px 0px 0px 150px; background-color:#E32636;margin-top:30px;margin-left:50px;left:10%;padding-top:3px;color:white;">
      
      <div class="announcement mt-2" style="background-color:white;border-radius:150px;height:100px;width:100px;">
        <i class="fa-solid fa-bullhorn mt-3 mx-3" style="color: #9f1d1d; font-size:55px;"></i>
       
         <h3 class="sect_title">Notices</h3>
      </div>
    </div>
    <table style="margin-left:105px;">
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-I practical Exam</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees and Form Submission date of part-2 and part-3</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-3 Exam-2023 (2020-23)</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-2 Exam-2023 (2021-24)</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Exam Center for Master Sem-III (2021-23) </td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paper BCA-302 exam date shifted 05-09-2023 to 23 </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-danger mt-5" style="font-size:25px;">View all notices</button></td>
      </tr>
    </table><!--1st block end-->
    
       <div class="notices px-2" style="min-height:125px; min-width:100px; border-radius:150px 0px 0px 150px; background-color:#E32636;margin-top:30px;margin-left:50px;left:10%;padding-top:3px;">
        <div class="announcement mt-2" style="background-color:white;border-radius:150px;height:100px;width:100px;">
          <i class="fa-regular fa-newspaper mt-3 mx-3" style="color: #a00d0d; font-size:65px;"></i>
        </div>
    </div>
    <table style="margin-left:105px;">
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.Ed Entrance Test on 16/07/2023</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 24_05_2023</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;नई बात</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 09_05_2023</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st Edition (Book April)</td>
      </tr>
      <tr>
        <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
          <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
        </div>
                  
        </td>
        <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 27-04-2023
          </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-danger mt-5" style="font-size:25px;">View all notices</button></td>
      </tr>
      </table>
      <div id="space" style="background-color:#1F2020;height:100px ;width:300px ;"></div>

    <!--next-->
    
 
  <!--2nd part-->
</div>
<div class="col-sm-6" style="background-color:#1F2020;min-height:600px; ">
  <div class="notices px-2" style="min-height:125px;  border-radius:150px 0px 0px 150px; background-color:#E32636;margin-top:30px;margin-left:50px;left:10%;padding-top:3px;">
    <div class="announcement mt-2" style="background-color:white;border-radius:150px;height:100px;width:100px;">
      <i class="fa-solid fa-paste mt-3 mx-3" style="color: #9f1d1d; font-size:55px;"></i>
    </div>
  </div>
  <table style="margin-left:105px;">
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-I practical Exam</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fees and Form Submission date of part-2 and part-3</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-3 Exam-2023 (2020-23)</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Part-2 Exam-2023 (2021-24)</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Exam Center for Master Sem-III (2021-23) </td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paper BCA-302 exam date shifted 05-09-2023 to 23 </td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-danger mt-5" style="font-size:25px;">View all notices</button></td>
    </tr>
    
  </table><!--1st block end-->
  
     <div class="notices px-2" style="min-height:125px; min-width:100px; border-radius:150px 0px 0px 150px; background-color:#E32636;margin-top:30px;margin-left:50px;left:10%;padding-top:3px;">
      <div class="announcement mt-2" style="background-color:white;border-radius:150px;height:100px;width:100px;">
        <i class="fa-sharp fa-solid fa-gavel mt-3 mx-3" style="color: #a00d0d; font-size:65px;"></i>
      </div>
  </div>
  <table style="margin-left:105px;">
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M.Ed Entrance Test on 16/07/2023</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 24_05_2023</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;नई बात</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 09_05_2023</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st Edition (Book April)</td>
    </tr>
    <tr>
      <td ><div class="box mt-3" style="height:40px;width:40px;background-color:white; border:1px solid red; border-radius:5px">
        <i class="fa-solid fa-chevron-right" style="color: #9a0e0e; font-size:30px;margin:5px 0px 0px 10px;"></i>
      </div>
                
      </td>
      <td  style="color:white;margin-top:5px;font-size:20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;News Clipping 27-04-2023
        </td>
    </tr>
    <tr>
      <td></td>
      <td><button class="btn btn-danger mt-5" style="font-size:25px;">View all notices</button></td>
    </tr>
    </table>
    <div id="space" style="background-color:#1F2020;height:100px ;width:300px ;"></div>


</div>

</div>
 <!--next-->

 

{%endblock main%}

